*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

hr {
  margin: 0;
  opacity: 0.4;
}
/* Remove toggle buttons for input with type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card-header {
  margin: 5px 0;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-body {
  position: relative;
}

.card-body img {
  cursor: pointer;
  position: absolute;
  bottom: -56px;
  right: 10px;
  width: 45px;
  height: 45px;
}

#update-msg {
  width: 800px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

#numOfChar {
  width: 70px;
  font-size: 18px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(100, 100, 100, 1);
  border-radius: 3px;
  text-indent: 3px;
}

.card-criteria {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: rgba(244, 244, 244, 0.6);
}

.card-criteria div {
  width: 270px;
  display: flex;
  margin: 3px 0;
  align-items: center;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-criteria {
  align-items: center;
}

#copy-btn {
  filter: saturate(0) brightness(0);
  transition: 0.1s all ease-in-out;
}

#copy-btn.active {
  filter: saturate(1) brightness(1);
  transition: 0.1s all ease-in-out;
}

#update-msg {
  width: 100%;
  display: none;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 12px;
}

#update-msg em {
  font-style: normal;
  font-weight: 600;
  margin: 0 4px;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-top: 10px;
  padding: 12px 30px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  font-size: 1.15rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 0.9rem;
  }

  #update-msg {
    font-size: 12px;
  }

  .card-body img {
    cursor: pointer;
    position: absolute;
    bottom: -60px;
    right: 10px;
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.7rem;
    padding: 10px 8px;
  }

  .card-criteria div {
    width: 220px;
    display: flex;
    margin: 1px 0;
    font-size: 14px;
    justify-content: space-between;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  #password {
    font-size: 0.65rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-body {
    min-height: 75px;
  }

  #update-msg {
    width: 130%;
    font-size: 11px;
  }

  .card-body img {
    cursor: pointer;
    position: absolute;
    bottom: -53px;
    right: -2px;
    width: 30px;
    height: 30px;
  }
}
